- id: Cabinet_button_blinds_automations
  alias: Кабинет_управление жалюзи
  description: Открывает и закрывает жалюзи по однократному нажатию кнопки у окна
    в кабинете
  trigger:
  - platform: device
    domain: mqtt
    device_id: a98b5a68be4d5bf1f6423c07a4df352e
    type: action
    subtype: single
    discovery_id: 0x00158d0006baa466 action_single
  condition: []
  action:
  - service: switch.toggle
    target:
      entity_id: switch.cabinet_blinds
  mode: single
- id: Cabinet_button_windows_automations
  alias: Кабинет_открыть окно
  description: Открывает и закрывает окно по двукратному нажатию кнопки у окна в кабинете
  trigger:
  - platform: device
    domain: mqtt
    device_id: a98b5a68be4d5bf1f6423c07a4df352e
    type: click
    subtype: double
    discovery_id: 0x00158d0006baa466 click_double
  condition: []
  action:
  - service: switch.toggle
    target:
      entity_id: switch.cabinet_window_switch
  mode: single
- id: Set_cabinet_slider
  alias: Set_cabinet_slider
  trigger:
    platform: mqtt
    topic: drivent-876/setTargetPosition
  action:
    service: input_number.set_value
    target:
      entity_id: input_number.target_temp
    data:
      value: '{{ trigger.payload }}'
- id: Open_cabinet_windows
  alias: Сabinet_open_windows
  trigger:
  - platform: state
    entity_id: input_number.cabinet_windows_slider
  action:
  - service: mqtt.publish
    data:
      topic: drivent-876/setTargetPosition
      retain: true
      payload: '{{ states(''input_number.cabinet_windows_slider'') | int }}'
  mode: single
- id: '1627512990119'
  alias: Cabinet_light_group_turn_on
  description: Включение света в кабинете
  trigger:
  - platform: state
    entity_id: light.13c76bdb5c4ac001_light
    from: 'off'
    to: 'on'
  condition:
  - condition: state
    entity_id: switch.lumi_lumi_ctrl_neutral2_1c472604_on_off
    state: 'off'
  - condition: or
    conditions:
    - condition: state
      entity_id: switch.lumi_lumi_ctrl_neutral2_1c472604_on_off_2
      state: 'off'
  action:
  - service: switch.turn_on
    target:
      entity_id:
      - switch.lumi_lumi_ctrl_neutral2_1c472604_on_off
      - switch.lumi_lumi_ctrl_neutral2_1c472604_on_off_2
  - service: light.turn_on
    target:
      entity_id: light.13c76bdb5c4ac001_light
  mode: single
- id: '1627513890830'
  alias: Кабинет_включить свет
  description: Беспроводной выключатель в кабинете
  trigger:
  - platform: device
    domain: mqtt
    device_id: fdc0abe6a4a259eacfb42dff9c96f019
    type: click
    subtype: single
    discovery_id: 0x00158d000283d11f click_single
  condition:
  - condition: and
    conditions:
    - condition: state
      entity_id: switch.cabinet_wired_switch_left
      state: 'off'
    - condition: state
      entity_id: switch.cabinet_wired_switch_right
      state: 'off'
  action:
  - service: switch.turn_on
    target:
      entity_id:
      - switch.cabinet_wired_switch_left
      - switch.cabinet_wired_switch_right
  mode: single
- id: '1627598890230'
  alias: Гардероб_включение света
  description: Включение света в гардеробе
  trigger:
  - type: opened
    platform: device
    device_id: 412bd1683899d7458462973a1e569a1f
    entity_id: binary_sensor.wardrobe_door_status_contact
    domain: binary_sensor
  condition: []
  action:
  - service: switch.turn_on
    target:
      entity_id: switch.wardrobe_wired_switch_left
  mode: single
- id: '1627691502056'
  alias: Кабинет_выключить свет
  description: ''
  trigger:
  - platform: device
    domain: mqtt
    device_id: fdc0abe6a4a259eacfb42dff9c96f019
    type: action
    subtype: single
    discovery_id: 0x00158d000283d11f action_single
  condition:
  - condition: or
    conditions:
    - condition: state
      state: 'on'
      entity_id: switch.cabinet_wired_switch_left
    - condition: state
      entity_id: switch.cabinet_wired_switch_right
      state: 'on'
  action:
  - service: switch.turn_off
    target:
      entity_id:
      - switch.cabinet_wired_switch_left
      - switch.cabinet_wired_switch_right
  mode: single
- id: '1627691764775'
  alias: Cabinet_wireless_switch_short_press
  description: Беспроводной выключатель в кабинете включить свет - одинарное нажатие
  trigger:
  - device_id: 788f25352034020aa94d3df6998f1abd
    domain: zha
    platform: device
    type: remote_button_short_press
    subtype: remote_button_short_press
  condition: []
  action:
  - service: light.toggle
    target:
      entity_id: light.13c76bdb5c4ac001_light
  mode: single
- id: '1630015332845'
  alias: Cabinet_light_group_turn_off
  description: Выключение света в кабинете
  trigger:
  - platform: state
    entity_id: light.13c76bdb5c4ac001_light
    to: 'off'
    from: 'on'
    for: '30'
  condition: []
  action:
  - service: switch.turn_off
    target:
      entity_id:
      - switch.lumi_lumi_ctrl_neutral2_1c472604_on_off
      - switch.lumi_lumi_ctrl_neutral2_1c472604_on_off_2
  - service: light.turn_off
    target:
      entity_id: light.kabinet_svet
  mode: single
- id: '1630016940697'
  alias: Cabinet_wireless_switch_long_press
  description: Выключатель в кабинете  диммер - долгое нажатие
  trigger:
  - device_id: 788f25352034020aa94d3df6998f1abd
    domain: zha
    platform: device
    type: remote_button_double_press
    subtype: remote_button_double_press
  condition: []
  action:
  - service: light.turn_on
    target:
      entity_id: light.kabinet_svet
    data:
      transition: 1
      brightness_step: 25
  mode: single
- id: '1630367754768'
  alias: Bedroom_button_close_blinds
  description: Закрыть жалюзи по кнопке у окна
  trigger:
  - platform: device
    domain: mqtt
    device_id: a98b5a68be4d5bf1f6423c07a4df352e
    type: action
    subtype: single
    discovery_id: 0x00158d0006baa466 action_single
  condition:
  - condition: or
    conditions:
    - condition: state
      entity_id: sensor.bedroom_blind_1_status
      state: Open
    - condition: state
      entity_id: sensor.bedroom_blind_2_status
      state: Open
    - condition: state
      entity_id: sensor.bedroom_blind_3_status
      state: Open
  action:
  - service: script.bedroom_close_blinds
  mode: single
- id: '1630368722194'
  alias: Bedroom_button_open_blinds
  description: ''
  trigger:
  - device_id: 7409a659e5c1e284a50a741e31385923
    domain: zha
    platform: device
    type: remote_button_short_press
    subtype: remote_button_short_press
  condition:
  - condition: and
    conditions:
    - condition: template
      value_template: '{% set bedrom_close_last_updated = as_timestamp(strptime(states.script.bedroom_close_blinds.last_changed,
        "%Y-%m-%d  %H:%M:%S")) %}    {% set close_seconds = now().timestamp()-bedrom_close_last_updated
        %}   {% set bedrom_open_last_updated = as_timestamp(strptime(states.script.bedroom_open_blinds.last_changed,
        "%Y-%m-%d  %H:%M:%S")) %}    {% set open_seconds = now().timestamp()-bedrom_open_last_updated
        %}    {{([close_seconds, open_seconds] | min) > 5}}'
    - condition: state
      entity_id: sensor.bedroom_blind_1_status
      state: Closed
    - condition: state
      entity_id: sensor.bedroom_blind_2_status
      state: Closed
    - condition: state
      entity_id: sensor.bedroom_blind_3_status
      state: Closed
  action:
  - service: script.bedroom_open_blinds
  - delay:
      hours: 0
      minutes: 0
      seconds: 0
      milliseconds: 550
  - service: shell_command.bedroom_stop_blinds
  mode: single
- id: '1632411887622'
  alias: Гардероб_выключение света
  description: ''
  trigger:
  - type: not_opened
    platform: device
    device_id: 412bd1683899d7458462973a1e569a1f
    entity_id: binary_sensor.wardrobe_door_status_contact
    domain: binary_sensor
  condition: []
  action:
  - service: switch.turn_off
    target:
      entity_id: switch.wardrobe_wired_switch_left
  mode: single
- id: '1634406513251'
  alias: Прихожая_закрыть_дверь
  description: ''
  trigger:
  - platform: device
    domain: mqtt
    device_id: 25eeaaffe91244ac3c25f5139b672a83
    type: action
    subtype: single
    discovery_id: 0x00158d00028f5755 action_single
  condition:
  - type: is_open
    condition: device
    device_id: 050c1109b074c252c754c0be0ed82da1
    entity_id: binary_sensor.lobby_lock_status_contact
    domain: binary_sensor
  action:
  - service: mqtt.publish
    data:
      topic: smartlock/set
      payload: lock
  mode: single
- id: '1634493568591'
  alias: Прихожая_открыть_дверь
  description: ''
  trigger:
  - platform: device
    domain: mqtt
    device_id: 25eeaaffe91244ac3c25f5139b672a83
    type: action
    subtype: double
    discovery_id: 0x00158d00028f5755 action_double
  condition:
  - type: is_not_open
    condition: device
    device_id: 050c1109b074c252c754c0be0ed82da1
    entity_id: binary_sensor.lobby_lock_status_contact
    domain: binary_sensor
  action:
  - service: mqtt.publish
    data:
      topic: smartlock/set
      payload: unlock
  mode: single
- id: '1635278832008'
  alias: Спальня_панель_сон_все
  description: ''
  trigger:
  - platform: device
    domain: mqtt
    device_id: 2d8f3f5da0b858bed7b9e820ba9fd27a
    type: action
    subtype: button_1_single
    discovery_id: 0x04cf8cdf3c7d7102 action_button_1_single
  - platform: device
    domain: mqtt
    device_id: 5a981952fbb45eca47ebda17ec8851a6
    type: action
    subtype: button_1_single
    discovery_id: 0x04cf8cdf3c7d3c1c action_button_1_single
  condition: []
  action:
  - service: script.turn_on
    target:
      entity_id: script.1635349875799
  mode: single
- id: '1635350423242'
  alias: Спальльня_панель_включить_свет
  description: ''
  trigger:
  - platform: device
    domain: mqtt
    device_id: 2d8f3f5da0b858bed7b9e820ba9fd27a
    type: action
    subtype: button_2_single
    discovery_id: 0x04cf8cdf3c7d7102 action_button_2_single
  - platform: device
    domain: mqtt
    device_id: 5a981952fbb45eca47ebda17ec8851a6
    type: action
    subtype: button_2_single
    discovery_id: 0x04cf8cdf3c7d3c1c action_button_2_single
  condition: []
  action:
  - service: switch.toggle
    target:
      entity_id: switch.bedroom_wired_switch_left
  mode: single
- id: '1635350592929'
  alias: Спальня_панель_подсветка_стены
  description: ''
  trigger:
  - platform: device
    domain: mqtt
    device_id: 2d8f3f5da0b858bed7b9e820ba9fd27a
    type: action
    subtype: button_2_double
    discovery_id: 0x04cf8cdf3c7d7102 action_button_2_double
  - platform: device
    domain: mqtt
    device_id: 5a981952fbb45eca47ebda17ec8851a6
    type: action
    subtype: button_2_double
    discovery_id: 0x04cf8cdf3c7d3c1c action_button_2_double
  condition: []
  action:
  - service: light.toggle
    target:
      entity_id: light.podsvetka_steny
  mode: single
- id: '1635351135729'
  alias: Спальня_панель_подсветка_потолка
  description: ''
  trigger:
  - platform: device
    domain: mqtt
    device_id: 2d8f3f5da0b858bed7b9e820ba9fd27a
    type: action
    subtype: button_2_hold
    discovery_id: 0x04cf8cdf3c7d7102 action_button_2_hold
  - platform: device
    domain: mqtt
    device_id: 5a981952fbb45eca47ebda17ec8851a6
    type: action
    subtype: button_2_hold
    discovery_id: 0x04cf8cdf3c7d3c1c action_button_2_hold
  condition: []
  action:
  - service: light.toggle
    target:
      entity_id: light.beedrom_light_cell
  mode: single
