
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

#POSTGRES
recorder:
  db_url: !secret postgres_url

# Text to speech
tts:
  - platform: google_translate

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 127.0.0.1
    - 172.18.0.0/24

media_player:
  # Use the Python ADB implementation
  - platform: androidtv
    name: Android TV 1
    host: 192.168.0.33

mqtt:
  discovery: true
  broker: 192.168.0.100
  birth_message:
    topic: 'homeassistant/status'
    payload: 'online'
  will_message:
    topic: 'homeassistant/status'
    payload: 'offline'
  username: "mqtt"
  password: "uvsmsyitv57yigno"

fan:
  - platform: xiaomi_miio_fan
    name: Xiaomi Smart Fan
    host: 192.168.0.15
    token: 3f0bf5c2de401163beaf1fb0ba85fd5f
    model: zhimi.fan.sa1

light:
  - platform: group
    name: Кабинет_свет_проход
    entities:
      - light.50ec50db4524_light
      - light.50ec50dc9d46_light
  - platform: group
    name: Подсветка стены
    entities:
      - light.bedroom_wall_1
      - light.bedroom_wall_2

sensor:
  # Сенсор кабинет жалюзи 
  - platform: rest
    name: cabinet_blind_status
    resource: !secret cabinet_blinds_status
    value_template: "{{ value_json[0] }}"
    scan_interval: 1
  # Сенсор спальня жалюзи-1
  - platform: rest
    name: bedroom_blind_1_status
    resource: !secret bedroom_blinds_1_status
    value_template: "{{ value_json[0] }}"
    scan_interval: 1
  # Сенсор счетчик энергии
  - platform: template
    sensors:
      total_energy_pump:
        unit_of_measurement: kWh
        value_template: "{{ state_attr('switch.test', 'current_consumption') }}"


#Переключатели
switch:
  - platform: template
    switches:
      # Управление жалюзи в кабинете
      cabinet_blinds:
        value_template: "{{ is_state('sensor.cabinet_blind_status', '180') }}"
        turn_on:
          service: shell_command.cabinet_close_blinds
        turn_off:
          service: shell_command.cabinet_open_blinds
      # Управление жалюзи в спальне
      bedroom_blinds:
        unique_id: bedroom_blinds_1
        value_template: "{{ is_state('sensor.bedroom_blind_1_status', '100') }}"
        turn_on:
          service: shell_command.bedroom_close_blinds_1
        turn_off:
          service: shell_command.bedroom_open_blinds_1
      # Управление окном в кабинете
      cabinet_window:
        value_template: "{{ is_state('binary_sensor.lumi_lumi_sensor_magnet_aq2_05b62004_on_off', 'on') }}"
        turn_on:
          service: script.open_cabinet_window
        turn_off:
          service: script.close_cabinet_window

  # Управление окном в кабинете
  - platform: mqtt
    unique_id: cabinet_window_switch
    name: "Cabinet_window_switch"
    state_topic: "drivent-876/getTargetPosition"
    command_topic: "drivent-876/setTargetPosition"
    availability_topic: "drivent-876/LWT" 
    payload_available: "1"
    payload_not_available: "0"
    payload_on: "100"
    payload_off: "0"
    value_template: "{%if value | int > 0%} 100 {% else %} 0 {%endif%}"
    optimistic: false
    qos: 0
    retain: true

shell_command:
  cabinet_open_blinds: !secret cabinet_blinds_open
  cabinet_close_blinds: !secret cabinet_blinds_close
  bedroom_open_blinds_1: !secret bedroom_blinds_1_open
  bedroom_close_blinds_1: !secret bedroom_blinds_1_close
  bedroom_stop_blinds_1: bedroom_blinds_1_stop

input_number:
  cabinet_windows_slider:
    name: Кабинет окно
    min: 0
    max: 100
    step: 1
    unit_of_measurement: step
    icon: mdi:window-open

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

homeassistant:
  customize: !include customize.yaml